{% extends 'front_base.html.twig' %}
{% block styles %}
    <!-- Fontfaces CSS-->
    <link href="{{ asset('backoffice/css/font-face.css" rel="stylesheet') }}" media="all">
    <link href="{{ asset('backoffice/vendor/font-awesome-4.7/css/font-awesome.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ asset('backoffice/vendor/font-awesome-5/css/fontawesome-all.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ asset('backoffice/vendor/mdi-font/css/material-design-iconic-font.min.css')}}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{{ asset('backoffice/vendor/bootstrap-4.1/bootstrap.min.css')}}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{{ asset('backoffice/vendor/animsition/animsition.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ asset('backoffice/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ asset('backoffice/vendor/wow/animate.css')}}" rel="stylesheet" media="all">
    <link href="{{ asset('backoffice/vendor/css-hamburgers/hamburgers.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ asset('backoffice/vendor/slick/slick.css')}}" rel="stylesheet" media="all">
    <link href="{{ asset('backoffice/vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ asset('backoffice/vendor/perfect-scrollbar/perfect-scrollbar.css')}}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{{ asset('backoffice/css/theme.css') }}" rel="stylesheet" media="all">

{% endblock %}
{% block title %}Restaurants{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h3 class="title-5 m-b-35">Restaurant table</h3>



            </div>
            <table class="table table-data2" id="myTable">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Specialite</th>
                    <th>Places</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for restaurant in restaurants %}
                    <tr>
                        <td>{{ restaurant.id }}</td>
                        <td>{{ restaurant.nom }}</td>
                        <td>{{ restaurant.specialite }}</td>
                        <td>{{ restaurant.places }}</td>
                        <td>
                            <a class="item" data-toggle="tooltip" data-placement="top" title="Reserver" href="{{ path('reservation_new', {'id': restaurant.id}) }}">Reserver</a>
                             </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div>
                {{ knp_pagination_render(restaurants) }}
            </div>

{% endblock %}
{% block scripts %}
<!-- Jquery JS-->
<script src="{{ asset('backoffice/vendor/jquery-3.2.1.min.js')}}"></script>
<!-- Bootstrap JS-->
<script src="{{ asset('backoffice/vendor/bootstrap-4.1/popper.min.js')}}"></script>
<script src="{{ asset('backoffice/vendor/bootstrap-4.1/bootstrap.min.js')}}"></script>
<!-- Vendor JS       -->
<script src="{{ asset('backoffice/vendor/slick/slick.min.js')}}">
</script>
<script src="{{ asset('backoffice/vendor/wow/wow.min.js')}}"></script>
<script src="{{ asset('backoffice/vendor/animsition/animsition.min.js')}}"></script>
<script src="{{ asset('backoffice/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js')}}">
</script>
<script src="{{ asset('backoffice/vendor/counter-up/jquery.waypoints.min.js')}}"></script>
<script src="{{ asset('backoffice/vendor/counter-up/jquery.counterup.min.js')}}">
</script>
<script src="{{ asset('backoffice/vendor/circle-progress/circle-progress.min.js')}}"></script>
<script src="{{ asset('backoffice/vendor/perfect-scrollbar/perfect-scrollbar.js')}}"></script>
<script src="{{ asset('backoffice/vendor/chartjs/Chart.bundle.min.js')}}"></script>
<script src="{{ asset('backoffice/vendor/select2/select2.min.js')}}">
</script>

<!-- Main JS-->
<script src="{{ asset('backoffice/js/main.js')}}"></script>
<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}